<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Mapper1024 Server</title>
		<style>
			body {
				height: 100%;
				width: 100%;
				margin: 0;
				padding: 0;
			}

			#mapper {
				height: 100vh;
				width: 100%;
				padding: 0;
				margin: 0;
				overflow: hidden;
			}
		</style>
	</head>
	<body>
		<!-- Div for the mapper UI and script to populate it with the actual UI -->
		<div id="mapper">
		</div>
		<script type="module" src="interface/mapper.js"> </script>
	<body>
</html>

